<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/port.css" />
  </head>
  <body>
    <div id="bg">
      <span class="text main">Hi,</span>
      <span class="text">I am Sourav</span>
      <br />
      <span class="text main">WEB DEVELOPER</span>
    </div>
    <div class="work">WORK, I HAVE <span id="YOU">DONE</span></div>
    <div id="flex">
      <form action="/att" method="post" class="box">
        <img src="../static/att.png" alt="img" />
        <input type="submit" class="heading" value="ATTENDENCE">
        <br>
        <p class="faltu-text">It is a simple attendence website which takes attendance via group photo of whole class. It is very useful to stop proxy things in lectures.
        </p>
      </form>

      <form action="/music" method="post" class="box">
        <img src="../static/music.png" alt="img" />
        <input type="submit" class="heading" value="MUSIC">
        <br>
        <p class="faltu-text">It is a simple Music website on which you can listen any song of your choice.
        </p>
      </form>

      <form action="/dino" method="post" class="box">
        <img src="../static/dino.png" alt="img" />
        <input type="submit" class="heading" value="CHROME DINO GAME">
        <br>
        <p class="faltu-text">It is a upgraded version of a most famous game which is nothing but only the no-internet dino game of Chrome.
        </p>
      </form>

      <form action="/res" method="post" class="box">
        <img src="../static/res.png" alt="img" />
        <input type="submit" class="heading" value="RESTAURENT">
        <br>
        <p class="faltu-text">It is a simple restaurent website on which you can see our menu and contact us to place your order.
        </p>
      </form>

      <form action="/ttt" method="post" class="box">
        <img src="../static/ttt.png" alt="img" />
        <input type="submit" class="heading" value="TIC-TAC-TOE">
        <br>
        <p class="faltu-text">It is something which everyone had played in childhood. So, we came back to give you pleasure of this game once again which is nothing but only TIC-TAC-TOE.
        </p>
      </form>
      
    </div>
  
  <div id="final">
      <div id="final1">
        <h1>CONTACT ME:</h1>
        <h3>
          Mobile no:- 8813809613
        </h3>
        <h3>
          Gmail:- sourav@ma.iitr.ac.in
        </h3>
        <h3>
          Github:- <a id="github" href="https://github.com/going-to-create-my-life"  target="_blank"> going-to-create-my-life</a>
        </h3>
      </div>
      <div id="final2">
        <h1>ABOUT ME:</h1>
        <br />
        <h4>
          I am a small-town boy who is currently studying at IIT Roorkee, thanks to the support and blessings I've received. I achieved a perfect 100% score in my 10th board exam and secured 93.6% in my 12th board exam. Apart from my academic pursuits, I have a deep passion for music.
        </h4>
          <br />
        <h4>
          My eagerness to learn new things drove me to start working on web development shortly after completing the JEE Advanced Exam. I am currently pursuing a degree in the MnC (Mathematics and Computing) branch at IIT Roorkee and am very enthusiastic about gaining practical experience by collaborating on live projects with senior students.
        </h4>
        </div>
    </div>
    <footer>
      <p>All Copywrites are reserverd by Mr. Sourav</p>
    </footer>
  </body>
</html>
